* {
    font-family: 'Dosis', sans-serif;
}

body {
    color: black;
}

body.dark {
    color: white;
}




h1 {
    font-size: 5em;
}

.add-task {
    font-size: 1.5em;
    color: white;

    &:hover {
        color: black;
    }
}

