* {
    margin: 2%;
}

@import "homepage.scss";

@import "_typography.scss"; 

@import "stopwatch.scss";

@import "tasklist.scss";

.dark-mode {
    background-color: black;
    
}

.light-mode {
    background-color: white;
}

// colour palette (cave) - dark mode
// #5C445D (dark purple)
// #BE9ABB (light purple)
// #C29E69 (brown)
// #EAC0C3 (peach)
// #FCF0AA (light yellow)

// colour palette (lake) - light mode 
// #405681 (dark blue)
// #B0CEDF (light blue)
// #7CBABC (teal)
// #BEDC97 (light green)
// #256945 (dark green)