#task-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "taskform tasklist";
}

#taskform {
    grid-area: taskform;
    max-width: 300px;
    margin: 0 auto;

    label {
        display: block;
        width: 100%;
    }
}

#tasklist {
    grid-area: tasklist; 
}

.side-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    
    .nav-item {
        list-style-type: none;
        float: left;
        padding: 1% 2%;
        text-align: center;
        width: 20%;
        background-color: grey;
        border-style: solid;
        border-color: red;
    }
}