#taskform {
    grid-area: taskform;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: none;
    background-color: red;
    padding: 10% 60%;
}

.side-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    
    .nav-item {
        list-style-type: none;
        float: left;
        padding: 1% 2%;
        text-align: center;
        width: 20%;
        background-color: grey;
        border-style: solid;
        border-color: red;
    }
}


.kanban-board {
    display: flex;
    background-color: #B3B3B3;
    padding: 3%;

    .k-board {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        width: auto;

        .column {
            float: left;
            height: 100%;
        }

        .column > h2 {
            text-decoration: underline;
        }

        .add-task {
            width: 100px;
            height: 70px;
            text-align: center;
            border: none;
            border-radius: 25px;
            display: block;
            margin: 0 auto;
            width: 100%;
            transition: ease 0.4s;
            background-color: rgb(113, 203, 224);
            cursor: pointer;
        }

        #add-task:hover {
            background-color: rgba(113, 184, 202);
            transition: ease 0.2s; 
        }

        #task-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "taskform tasklist";
        }

        #tasklist {
            grid-area: tasklist; 
        }  
    } 
}


.kanban-columns:not(:last-child) {
    margin-right: 2%;
}
